.hidden {
    display: none;
}

div.plotly-notifier {
    visibility: hidden;
}

body {
    padding-top: 30px;
    height: 100%;
}

html {
    height: 100%;
}

.tab {
    padding-bottom: 50px;
}

.bottom-tab {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    width: 100%;
    background: #ffffff
}

.stuck {
    float: right;
    position: fixed;
    left: 75%;
}

.input-name {
    width: 75%;
}

.input-length {
    width: 90px;
    text-align: right;
}

.center-columns {
    padding-top: 10%
}

.step-button {
    position: absolute;
    height: 90%;
    width: 8%
}

.step-button:hover {
    background: #fafafa;
}

.step-button-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#comparison-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#comparison-table td, th {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
